/* TABLE OF CONTENTS 
  1. GLOBAL STYLES
  2. TYPOGRAPHY
  3. LAYOUT
  4. COLOR SCHEMES
  5. ANIMATIONS
  6. COMPONENTS
  7. MEDIA QUERY BREAKPOINTS
*/

/* ==========
  GLOBAL STYLES
========== */

body {
  font-family: "AvenirNext", Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

ul {
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

li {
  margin-bottom: 20px;
}


/* ==========
  TYPOGRAPHY
========== */

h1 {
  font-family: "Bungee Shade";
  font-size: 8.5rem;
  letter-spacing: .05em;
  margin: 0;
  opacity: 0;
  text-align: center;
}

h3 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: .75em;
  text-align: left;
}

.portfolio h3 {
  margin-bottom: 1.5em;
}

.slightly-bold {
  font-size: 1.1rem;
  font-weight: 600;
}


/* ==========
  LAYOUT
========== */

.clear {
  clear: both;
}

.center, section.center {
  text-align: center;
}
  
header {
  overflow: hidden;
  padding: 15px;
  position: relative;
  text-align: center;
}

.container-fluid {
  border-top: 1px solid #fff;
  color: #120029;
  margin: 0;
  overflow: hidden;
  padding: 60px;
  text-align: center;
}

.section {
  margin: 15px auto;
  max-width: 900px;
  text-align: left;
}

.section.collaboration, 
.section.seeking {
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  box-sizing: content-box;
  padding: 60px;
}

.profile-photo {
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  width: 212px;
  height: 257px;
  margin-left: 55px;
  opacity: 0;
}

.intro article {
  float: left;
  max-width: 550px;
  opacity: 0;
  text-align: left;
}

.intro .btn-primary {
  margin-left: 20px;
}

.portfolio-container {
  display: none;
}

.wordpress-list {
  font-size: 1.1rem;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.wordpress-list strong {
  font-size: 1.4rem;
}

.wordpress-list a {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.wordpress-list a, .wordpress-list a:hover, .wordpress-list a:active {
  color: #120029;
  text-decoration: none;
}

.wordpress-list .flex-img {
  flex: 0 0 300px;
  margin-right: 35px;
}

.wordpress-list img {
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  width: 100%;
}

.wordpress-list .flex-text {
  flex: 1 0 540px;
  white-space: normal;
}

.wordpress-list ul {
  list-style-type: disc;
  margin-top: 15px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.boxes li {
  background-color: #fbe076;
  border: 5px solid #120029;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
  color: #120029;
  cursor: pointer;
  flex: 1;
  font-size: 120px;
  margin-left: 0;
  margin-right: 50px;
  padding: 30px;
  text-align: center;
  transition: all .25s ease-out;
}

.boxes li:last-child {
  margin-right: 0;
}

.boxes li:hover {
  border-color: #fff;
  color: #fff;
}

.photo-modal .boxes {
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 0;
}

.photo-modal .boxes li {
  background-color: #fff;
  border: 2px solid #120029;
  border-radius: 2px;
  box-shadow: none;
  color: #120029;
  font-size: 30px;
  margin-right: 15px;
  max-width: 70px;
  padding: 5px;
}

.photo-modal .boxes li:hover {
  border-color: #fbe076;
  color: #fbe076;
}

footer .section {
  text-align: center;
}

footer {
  border-top: 1px solid #fff;
  padding: 45px 15px;
}


/* ==========
  COLOR SCHEMES
========== */

.color-scheme-one {
  background-color: #120029;
  color: #fff;
}

.color-scheme-three, 
.color-scheme-three code  {
  background-color: #fbe076;
  color: #120029;
}

.color-scheme-four, 
.color-scheme-four code {
  background-color: #aee2d4;
  color: #120029;
}

.background-geometric {
  background-attachment: fixed;
  background-image: url(/assets/img/background-geometric.png);
  background-position: 0 20px;
  background-size: 600px;
}

/* ==========
  ANIMATIONS
========== */

.rotate {
  animation: rotate 45s infinite linear;
}

.rotate:hover {
  animation: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1.animate {
  animation: slide-up .3s ease;
  opacity: 1;
}

.intro h3 {
  opacity: 0;
}

.intro h3.animate {
  animation: slide-up .6s ease;
  opacity: 1;
}

.profile-photo.animate {
  animation: slide-up 1.2s ease;
  opacity: 1;
}

.intro article.animate {
  animation: slide-up .9s ease;
  opacity: 1;
}

.scroll-in {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity .33s ease-in, transform .33s ease-in;
}

.scroll-in.seen {
  opacity: 1;
  transform: translateY(0);
}

/* ==========
  COMPONENTS
========== */

/* overwriting default Bootstrap button styles */
.btn-primary {
  color: #120029;
  background-color: #fbe076;
  border-color: #fbe076;
  border-radius: .45rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  font-weight: 800;
  padding: 8px 32px;
  transition: transform ease-in-out .25s;
}

.btn-primary:focus, 
.btn-primary:hover, 
.btn-primary.active, 
.btn-primary:active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(.disabled):active {
  color: #120029;
  background-color: #fad339;
  border-color: #fad339;
  box-shadow: none !important;
  outline: none !important;
  transform: scale(1.1);
}

.photo-modal {
  background-color: #aee2d4;
  border: 1px solid #120029;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  display: none;
  left: 50%;
  margin: auto;
  max-width: 566px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 10000px;
  transform: translate(-50%,0);
  transition: all .25s ease-out;
  width: 90%;
  z-index: 1001;
}

.photo-modal-img {
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 95%;
}

.close-button {
  background-color: #fff;
  border: 2px solid #120029;
  border-radius: 16px;
  color: #120029;
  display: block;
  font-size: 20px;
  height: 32px;
  position: absolute;
  right: -7px;
  top: -7px;
  width: 32px;
}

.close-button:hover, 
.close-button:focus, 
.close-button:active {
  color: #120029;
}

.close-button i {
  height: 32px;
  line-height: 28px;
  margin-left: -1px;
  width: 32px;
}

.img-container {
  float: right;
  height: 263px;
  margin: 30px 90px 10px 10px;
  position: relative;
  width:263px;
}

.img-container .close-button {
  background-color: transparent;
  border-radius: 14px;
  border-width: 1px;
  font-size: 16px;
  height: 28px;
  width: 28px;
}

.img-container .close-button i {
  border-width: 1px;
  height: 26px;
  line-height: 27px;
  margin-left: 8px;
  width: 26px;
}

.collab-symbol { 
  height: 263px;  
  width: 263px;
}

.social-icons {
  margin-bottom: 30px;
}

.social-icons a, 
.social-icons a:hover, 
.social-icons a:active {
  color: #120029;
  font-size: 1.5em;
  margin-right: 15px;
}

.social-icons a:last-child {
  margin-right: 0;
}


/* ==========
  MEDIA QUERY BREAKPOINTS
========== */

/* SMALLER BROWSER WIDTH */
@media only screen and (max-width : 1120px) {
  h1 {
    font-size: 6.5rem;
  }
}

/* TABLETS AND PHONES */
@media only screen and (max-width : 1024px) {
  
  /* centering primary button for smaller screen widths */
  .intro article {
    text-align: center;
  }

  .intro ul {
    text-align: left;
  }

  .intro .btn-primary {
    margin-left: auto;
  }

  .img-container {
    float: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -132px;
  }

  .section.collaboration > article {
    padding-bottom: 300px;
    position: relative;
  }

  .wordpress-list a {
    flex-wrap: wrap;
  }

  .wordpress-list .flex-img {
    margin-bottom: 15px;
  }

  .wordpress-list .flex-text {
    flex-basis: 100%;
    margin-bottom: 35px;
  }

  .boxes {
    justify-content: center
  }
  
  .boxes li {
    border-width: 2px;
    font-size: 40px;
    margin-right: 10px;
    max-height: 80px;
    max-width: 80px;
    padding: 12px;
  }

}

/* TABLETS -> PORTRAIT */
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  
  h1 {
    font-size: 5.5rem;
  }

  .section {
    width: 80%;
  }

  .section.collaboration, .section.seeking {
    padding: 30px;
  }

  .profile-photo {
    margin: 30px auto;
  }

}

/* TABLETS -> LANDSCAPE */
@media only screen and (min-device-width: 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  h1 {
    font-size: 7.5rem;
  }

  /* RE-aligning primary button left for ipad landscape */
  .intro article {
    text-align: left;
  }

  .intro .btn-primary {
    margin-left: 20px;
  }

  /* RE-sizing extracurricular boxes for ipad landscape */
  .boxes {
    justify-content: space-evenly;
  }
  
  .boxes li {
    border-width: 5px;
    font-size: 120px;
    margin-right: 50px;
    max-height: none;
    max-width: none;
    padding: 40px;
  }

}

/* PHONES */
@media only screen and (max-width: 767px) {

  header {
    padding: 10px 0;
  }

  .header-logo {
    height: 58px;
    width: 118px;
  }

  header > h1 {
    font-size: 2.38rem;
    letter-spacing: 0.07em;
  }

  ul {
    padding-left: 20px;
  }

  .profile-photo {
    margin: 30px auto;
  }

  .container-fluid {
    padding: 15px;
  }

  h3 {
    font-size: 1.5rem;
  }

  .background-geometric {
    background-size: 200px;
  }

  .section.collaboration, 
  .section.seeking {
    padding: 15px;
  }

  @media (min-device-width : 375px) {

    header > h1 {
      font-size: 2.84rem;
    }

  }

  /* SMALLER PHONE WIDTH, e.g., IPHONE 5 */
  @media only screen and (max-width : 320px) {

    .btn-primary {
      font-size: 1.3rem;
    }

    .wordpress-list .flex-img {
      max-width: 280px;
    }
  
    .wordpress-list .flex-text {
      font-size: 1.2rem;
    }

  }

}