/* TABLE OF CONTENTS 
  1. GLOBAL STYLES
  2. TYPOGRAPHY
  3. LAYOUT
  4. COLOR SCHEMES
  5. ANIMATIONS
  6. COMPONENTS
  7. MEDIA QUERY BREAKPOINTS
*/

/* ==========
  GLOBAL STYLES
========== */

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
}

ul {
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

li {
  margin-bottom: 20px;
}


/* ==========
  TYPOGRAPHY
========== */

h1 {
  font-family: "Pacifico", cursive;
  font-size: 7.5rem;
  letter-spacing: -.01em;
  margin: 0;
  opacity: 0;
  text-align: center;
  text-shadow: 5px 5px #2e3d3f;
  transition: font-family .5s ease-in, font-size .5s ease-in;
}

h3 {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: .75em;
  text-align: left;
  transition: font-family .5s ease-in, font-size .5s ease-in;
}

.portfolio h3 {
  margin-bottom: 1.5em;
}


/* ==========
  LAYOUT
========== */

.clear {
  clear: both;
}

.center, section.center {
  text-align: center;
}
  
header {
  overflow: hidden;
  padding: 25px 15px;
  position: relative;
  text-align: center;
}

.container-fluid {
  border-top: 1px solid #fff;
  color: #120029;
  margin: 0;
  overflow: hidden;
  padding: 60px;
  text-align: center;
}

.section {
  margin: 15px auto;
  max-width: 900px;
  text-align: left;
}

.section.collaboration, 
.section.seeking {
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
  box-sizing: content-box;
  padding: 60px;
}

.profile-photo {
  border: 5px solid #8ab3a1;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  width: 212px;
  height: 257px;
  margin-left: 55px;
  opacity: 0;
}

.intro article {
  float: left;
  max-width: 550px;
  opacity: 0;
  text-align: left;
}

.intro .btn-primary {
  margin-left: 20px;
}

.portfolio-container {
  display: none;
}

.wordpress-list {
  font-size: 1.1rem;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.wordpress-list strong {
  font-size: 1.4rem;
}

.wordpress-list a {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 45px;
}

.wordpress-list a, .wordpress-list a:hover, .wordpress-list a:active {
  color: #f9f9f9;
  text-decoration: none;
}

.wordpress-list .flex-img {
  flex: 0 0 300px;
  margin-right: 35px;
}

.wordpress-list img {
  border: 5px solid #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  width: 100%;
}

.wordpress-list a:hover img, .wordpress-list a:active img {
  border-color: #8ab3a1;
}

.wordpress-list .flex-text {
  flex: 1 0 540px;
  white-space: normal;
}

.wordpress-list ul {
  list-style-type: disc;
  margin-top: 15px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.boxes li {
  background-color: #f9f9f9;
  border: 5px solid #2e3d3f;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.15);
  color: #2e3d3f;
  cursor: pointer;
  flex: 1;
  font-size: 120px;
  margin-left: 0;
  margin-right: 50px;
  padding: 30px;
  text-align: center;
  transition: all .25s ease-out;
}

.boxes li:last-child {
  margin-right: 0;
}

.boxes li:hover {
  border-color: #e9835d;
  color: #e9835d;
}

.photo-modal .boxes {
  justify-content: center;
  margin-top: 15px;
  padding-bottom: 0;
}

.photo-modal .boxes li {
  background-color: #2e3d3f;
  border: 2px solid #cffde5;
  border-radius: 2px;
  box-shadow: none;
  color: #cffde5;
  font-size: 30px;
  margin-right: 15px;
  max-width: 70px;
  padding: 5px;
}



footer .section {
  text-align: center;
}

footer {
  border-top: 1px solid #fff;
  padding: 45px 15px;
}


/* ==========
  COLOR SCHEMES
========== */

.color-scheme-one {
  background-color: #e9835d;
  color: #fff;
  transition: all .5s ease-in;
}

.color-scheme-one.gradient {
  background: #e9835d;
  background: linear-gradient(#de683b, #e9835d);
}

.color-scheme-three, 
.color-scheme-three code  {
  background-color: #f9f9f9;
  color: #2e3d3f;
  transition: all .5s ease-in;
}

.color-scheme-four, 
.color-scheme-four code {
  background-color: #2e3d3f;
  color: #f9f9f9;
  transition: all .5s ease-in;
}

.background-geometric {
  background-attachment: fixed;
  background-image: url(/assets/img/background-geometric.png);
  background-position: 0 20px;
  background-size: 200px;
}

/* ==========
  ANIMATIONS
========== */

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(250px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1.animate {
  animation: slide-up .3s ease;
  opacity: 1;
}

.intro h3 {
  opacity: 0;
}

.intro h3.animate {
  animation: slide-up .6s ease;
  opacity: 1;
}

.profile-photo.animate {
  animation: slide-up 1.2s ease;
  opacity: 1;
}

.intro article.animate {
  animation: slide-up .9s ease;
  opacity: 1;
}

.scroll-in {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity .33s ease-in, transform .33s ease-in;
}

.scroll-in.seen {
  opacity: 1;
  transform: translateY(0);
}

.fa-bg, .fa-bg p, .fa-bg ul {
  position: relative;
}

.fa-bg p, .fa-bg ul {
  z-index: 2000;
}

.fa-bg:before {
  color: #e7eeeb;
  content: "\f411";
  font-family: "Font Awesome 5 Brands";
  font-size: 32rem;
  font-weight: 400;
  line-height: 1.8em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.fa-bgg i {
  color: #e7eeeb;
  font-size: 32rem;
  font-weight: 400;
  line-height: 1.8em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.fa-bg.more-skills:before {
  content: "\f121";
  font-family: "Font Awesome 5 Pro";
  font-weight: 100;
  line-height: 1.2em;
}

/*
.fa-bgg.more-skills i {
  font-weight: 100;
  line-height: 1.2em;
}
*/
/* ==========
  COMPONENTS
========== */

.style-switcher-container {
  position:absolute; 
  right: 15px;
  text-align: right;
  top: 15px; 
  width: 400px; 
  height: 100px;
}

.style-prompt {
  cursor: pointer;
  display: block;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  position: absolute;
  right: 0;
}

.style-component {
  font-size: 1rem;
  height: 0;
  overflow: hidden;
  transition: width .25s ease-in-out, height .25s ease-in-out;
  width: 0;
}

.style-component.reveal {
  display: block;
  height: 150px;
  width: 400px;
}

.style-switcher {
  border-radius: 5px;
  margin-left: 10px;
  outline: none;
  outline-width: 0;
}

/* overwriting default Bootstrap button styles */
.btn-primary {
  background-color: #cffde5;
  border-color: #cffde5;
  color: #2e3d3f;  
  border-radius: .45rem;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  font-size: 1.6rem;
  font-weight: 800;
  padding: 8px 32px;
  transition: transform ease-in-out .25s, color ease-in-out .25s;
}

.btn-primary:focus, 
.btn-primary:hover, 
.btn-primary.active, 
.btn-primary:active, 
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.btn-primary:not(.disabled):active {
  background-color: #8ab3a1;
  border-color: #8ab3a1;
  color: #fff;
  box-shadow: none !important;
  outline: none !important;
  transform: scale(1.1);
}

.photo-modal {
  background-color: #2e3d3f;
  border: 1px solid #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  display: none;
  left: 50%;
  margin: auto;
  max-width: 566px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 10000px;
  transform: translate(-50%,0);
  transition: all .25s ease-out;
  width: 90%;
  z-index: 1001;
}

.photo-modal-img {
  border: 2px solid #f9f9f9;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 95%;
}

.close-button {
  background-color: #fff;
  border: 2px solid #120029;
  border-radius: 16px;
  color: #120029;
  cursor: pointer;
  display: block;
  font-size: 20px;
  height: 32px;
  position: absolute;
  right: -7px;
  top: -7px;
  width: 32px;
}

.style-component .close-button:not([href]) {
  background-color: #f9f9f9;
  border: 1px solid #2e3d3f;
  border-radius: 10px;
  color: #2e3d3f;
  display: inline-block;
  font-size: 14px;
  height: 20px;
  margin-left: 12px;
  position: relative;
  right: auto;
  top: auto;
  width: 20px;
}

.close-button:hover, 
.close-button:focus, 
.close-button:active {
  color: #120029;
}

.close-button i {
  height: 32px;
  line-height: 28px;
  margin-left: -1px;
  width: 32px;
}

.style-component .close-button i {
  display: block;
  height: 12px;
  line-height: 20px;
  margin-left: -1px;
  width: 15px;
}

.img-container {
  float: right;
  height: 263px;
  margin: 10px 60px 30px 40px;
  position: relative;
  width: 263px;
}

.img-container.seeking {
  height: 131px;
  width: 131px;
}

.img-container .close-button {
  display: none;
}

.symbol { 
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.3);
  border: 5px solid #8ab3a1;
  height: 263px;  
  width: 263px;
}

.symbol.seeking {
  height: 131px;
  width: 131px;
}

.social-icons {
  margin-bottom: 30px;
}

.social-icons a {
  color: #8ab3a1;
  font-size: 1.5em;
  margin-right: 15px;
}

.social-icons a:hover, .social-icons a:active {
  color: #e9835d;
}

.social-icons a:last-child {
  margin-right: 0;
}


